body{
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(41, 40, 104, 0.651);

}

#calculator{

font-family: Arial, sasn-serif;
background-color: hsl(285, 100%, 2%);
border-radius: 15px;
max-width:500px;
overflow: hidden;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: white;
    background-color: hsla(286, 44%, 11%, 0.925);



}


#keys{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    


}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(253, 8%, 23%);
    color:rgb(255, 255, 255);
    font-size:3rem;
    font-weight: bold;
    cursor: pointer;




}
button:hover{
    background-color: rgb(118, 110, 126);
}
button:active{
    background-color: rgb(255, 255, 255);
}
.operator-btn{
    background-color: rgb(86, 66, 105);
}
.operator-btn:hover{
    background-color: rgb(120, 97, 136);
}
.operator-btn:active{
    background-color: rgb(214, 204, 221);
}